<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>SPECIAL LIST OF SONGS BY YOUR PREFERENCES</h1>
            </div>
            <div class="col-md-6">

            </div>
          </div>

        </header>
      </section>
      <section *ngIf="songs?.length==0">
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h2>YOU HAVE TO RATE A FEW SONGS BEFORE WE CAN PERSONALIZE RECOMMENDATIONS FOR YOU</h2>
              <img src="https://i.imgur.com/xg4TOHO.gif"/>
            </div>
            <div class="col-md-6">

            </div>
          </div>

        </header>
      </section>
      <section class="main" *ngIf="songs?.length!=0">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Music Genre</th>
            <th>Release Year</th>
            <th>YouTube Link</th>
            <th>Author</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let song of songs">
            <td><button type="button" class="btn-primary" (click)="redirectSingleSongPage(song.songId)">{{song.songName}}</button></td>
            <td>{{song.musicGenre}}</td>
            <td>{{song.releaseYear}}</td>
            <td>{{song.youTubeLink}}</td>
            <td><button type="button" class="btn-primary" (click)="redirectToAuthorPage(song.authorId)">{{getAuthorName(song.authorId)}}</button></td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
