<nav>
  <a routerLink="/user" routerLinkActive="active"><button class="btn btn-primary">Users</button></a>
  <a routerLink="/user/create" routerLinkActive="active"><button class="btn btn-primary">Add User</button></a>
  <a routerLink="/author" routerLinkActive="active"><button class="btn btn-primary">Authors</button></a>
  <a routerLink="/author/create" routerLinkActive="active"><button class="btn btn-primary">Add Author</button></a>
  <a routerLink="/song" routerLinkActive="active"><button class="btn btn-primary">Songs</button></a>
  <a routerLink="/song/create" routerLinkActive="active"><button class="btn btn-primary">Add Song</button></a>
  <a routerLink="/login" routerLinkActive="active"><button class="btn btn-primary">Login</button></a>
</nav>
<router-outlet></router-outlet>

