<div class="container">
  <div class="row">
    <div class="col">
      <tr *ngIf="song?.youTubeLink.length!=0">
        <iframe width="560" height="315" [src]='sanitizer.bypassSecurityTrustResourceUrl(song?.youTubeLink)' frameborder="0" allowfullscreen></iframe>
      </tr>
        <section>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <td>{{song?.songName}}</td>
          </tr>
          <tr>
            <th>Music Genre</th>
            <td>{{song?.musicGenre}}</td>
          </tr>
          <tr>
            <th>Release Year</th>
            <td>{{song?.releaseYear}}</td>
          </tr>
          <tr>
            <th>Author</th>
            <td><button type="button" class="btn-primary" (click)="redirectToAuthorPage(song?.authorId)">{{getAuthorName(song?.authorId)}}</button></td>
          </tr>
          <tr>
            <th>Song Average Rate</th>
            <td><button class="ssv-big-bold-label"> {{songAverageRate}}</button></td>
          </tr>
          <tr *ngIf="rateOfUser?.rateValue">
            <th>Your Rate</th>
            <td><button class="ssv-big-bold-label">  {{rateOfUser?.rateValue}}</button></td>
            <td><button class="ssv-big-bold-label" (click)="redirectToCreateRate(rateOfUser)">Edit rate</button></td>
          </tr>
          <tr *ngIf="commentOfUser?.commentText">
            <th>Your Comment</th>
            <td><button class="ssv-big-bold-label">  {{commentOfUser?.commentText}}</button></td>
            <td><button class="ssv-big-bold-label" (click)="redirectToCreateComment(commentOfUser)">Edit comment</button></td>
          </tr>
          </thead>
        </table>
      </section>
      <section *ngIf="comments.length!=0" >
        <table class="table">
          <thead>
          <tr>
            <th>Comment</th>
            <th>User</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let comment of comments">
            <td>{{comment.commentText}}</td>
            <td><button type="button" class="btn-primary" (click)="redirectToUserPage(comment.userId)">{{getUserName(comment.userId)}}</button></td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-danger" (click)="redirectToSongList()">Redirect to song list</button>
      </section>

      <tr><td *ngIf="!rateOfUser?.rateValue"><app-rate-create></app-rate-create></td></tr>
      <tr><td *ngIf="!commentOfUser?.commentText"><app-comment-create></app-comment-create></td></tr>
      <hr>
    </div>
  </div>
</div>
