<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Authors</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewAuthorPage()">Add Author</button>

              <button type="button" class="btn btn-primary" (click)="redirectToUserPage()">Redirect to users</button>

              <button *ngIf="searchedWord" type="button" class="btn btn-primary" (click)="getAllAuthors()">Show all users</button>
            </div>
          </div>
        </header>
      </section>

      <div>
        <form novalidate [formGroup]="authorSearchForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>Search author</label>
              <input type="text"
                     class="form-control"
                     formControlName="searchWord">
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary"  [disabled]="!authorSearchForm.valid" >Submit</button>
        </form>
      </div>

      <section class="main">
        <table class="table">
          <thead>
          <tr>
            <th *ngIf="sortedByName==false"><button class="button" (click)="getAllAuthorsSortedByName(searchedWord)">Name</button></th>
            <th *ngIf="sortedByName==true"><button class="button" (click)="getAllAuthorsSortedByNameReversed(searchedWord)">Name</button></th>
            <th *ngIf="sortedByYearOfBirth==false"><button class="button" (click)="getAllAuthorsSortedByYearOfBirth(searchedWord)">YearOfBirth</button></th>
            <th *ngIf="sortedByYearOfBirth==true"><button class="button" (click)="getAllAuthorsSortedByYearOfBirthReversed(searchedWord)">YearOfBirth</button></th>
            <th *ngIf="sortedByCountry==false"><button class="button" (click)="getAllAuthorsSortedByCountryOfOrigin(searchedWord)">CountryOfOrigin</button></th>
            <th *ngIf="sortedByCountry==true"><button class="button" (click)="getAllAuthorsSortedByCountryOfOriginReversed(searchedWord)">CountryOfOrigin</button></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let author of authors">
            <td><button type="button" class="btn-primary" (click)="redirectToSingleAuthorPage(author.authorId)">{{author.name}}</button></td>
            <td>{{author.yearOfBirth}}</td>
            <td>{{author.countryOfOrigin}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="editAuthorPage(author)">Edit</button>
              <button type="button" class="btn-primary" (click)="redirectToSongCreatePage(author.authorId)">Add Song</button>
              <button type="button" class="btn btn-danger" (click)="deleteAuthor(author.authorId)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
