<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <table class="table">
          <thead>
          <tr>
            <th>User nickname</th>
            <td>{{user?.nickname}}</td>
          </tr>
          <tr>
            <th>User email</th>
            <td>{{user?.email}}</td>
          </tr>
          </thead>
        </table>
      </section>
      <!--rates and comments table-->
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>CommentText</th>
              <th>SongId</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments">
              <td>{{comment.commentId}}</td>
              <td>{{comment.commentText}}</td>
              <td>{{comment.songId}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-sm-6">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Rate Value</th>
              <th>Song Id</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rate of rates">
              <td>{{rate.rateId}}</td>
              <td>{{rate.rateValue}}</td>
              <td>{{rate.songId}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button class="button" class="btn btn-danger" (click)="redirectToUserList()">Redirect to user list</button>
    </div>
  </div>
</div>
