<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <table class="table">
          <thead>
          <tr>
            <th>User nickname</th>
            <td>{{user?.nickname}}</td>
          </tr>
          <tr>
            <th>User email</th>
            <td>{{user?.email}}</td>
          </tr>
          </thead>
        </table>
      </section>
      <section>
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>CommentText</th>
            <th>SongId</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let comment of comments">
            <td>{{comment.commentId}}</td>
            <td>{{comment.commentText}}</td>
            <td>{{comment.songId}}</td>
          </tr>
          </tbody>
        </table>
        <button class="button" class="btn btn-danger" (click)="redirectToUserList()">Redirect to user list</button>
        <p></p>
        <a id="show_id" onclick="document.getElementById('spoiler_id').style.display='';
        document.getElementById('show_id').style.display='none';" class="link">[Bonus Feature]</a>
        <span id="spoiler_id" style="display: none">
          <a onclick="document.getElementById('spoiler_id').style.display='none'; document.getElementById('show_id').style.display='';" class="link">[Hide]</a>
          <br><img src="https://pbs.twimg.com/media/BvCMlzeIcAALVRj.jpg" alt="Mountain View">
        </span>
      </section>
    </div>
  </div>
</div>
