<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <table class="table">
          <thead>
          <tr>
            <th>User nickname</th>
            <td>{{user?.nickname}}</td>
          </tr>
          <tr>
            <th>User email</th>
            <td>{{user?.email}}</td>
          </tr>
          </thead>
        </table>
      </section>
      <!--rates and comments table-->
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <thead>
            <tr>
              <th>Song</th>
              <th>Comment Text</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments">
              <td><button type="button" class="btn-primary" (click)="redirectToSongPage(comment.songId)">{{getSongName(comment.songId)}}</button></td>
              <td>{{comment.commentText}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="col-sm-6">
          <table class="table">
            <thead>
            <tr>
              <th>Song</th>
              <th>Rate Value</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rate of rates">
              <td><button type="button" class="btn-primary" (click)="redirectToSongPage(rate.songId)">{{getSongName(rate.songId)}}</button></td>
              <td>{{rate.rateValue}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button class="button" class="btn btn-danger" (click)="redirectToUserList()">Redirect to user list</button>
    </div>
  </div>
</div>
