<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <form novalidate [formGroup]="rateForm" (ngSubmit)="onSubmit()">
          <fieldset>
            <div class="form-group">
              <label>RateValue</label>
              <input type="number"
                     class="form-control"
                     formControlName="rateValue">
            </div>

            <div class="form-group">
              <input type="hidden"
                     class="form-control"
                     [ngModel]="songId"
                     formControlName="songId">
            </div>

            <div class="form-group">
              <input type="hidden"
                     class="form-control"
                     [ngModel]="userId"
                     formControlName="userId">
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary"  [disabled]="!rateForm.valid" >Submit</button>
          <button type="button" class="btn btn-warning" (click)="redirectSongListPage()">Cancel</button>
          <pre>{{rateForm.value | json}}</pre>
        </form>
      </section>
    </div>
  </div>
</div>
