<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <table class="table">
          <thead>
          <tr>
            <th>Author name</th>
            <td>{{author?.songName}}</td>
          </tr>
          <tr>
            <th>Author yearOfBirth</th>
            <td>{{author?.yearOfBirth}}</td>
          </tr>
          <tr>
            <th>Author countryOfOrigin</th>
            <td>{{author?.countryOfOrigin}}</td>
          </tr>
          </thead>
        </table>
      </section>
      <section>
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>SongName</th>
            <th>MusicGenre</th>
            <th>ReleaseYear</th>
            <th>YouTubeLink</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let song of songs">
            <td>{{song.songId}}</td>
            <td>{{song.songName}}</td>
            <td>{{song.musicGenre}}</td>
            <td>{{song.releaseYear}}</td>
            <td>{{song.youTubeLink}}</td>
          </tr>
          </tbody>
        </table>
        <button class="button" class="btn btn-danger" (click)="redirectToAuthorList()">Redirect to author list</button>
      </section>
    </div>
  </div>
</div>
