<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <table class="table">
          <thead>
          <tr>
            <th>Author name</th>
            <td>{{author?.name}}</td>
          </tr>
          <tr>
            <th>Author yearOfBirth</th>
            <td>{{author?.yearOfBirth}}</td>
          </tr>
          <tr>
            <th>Author countryOfOrigin</th>
            <td>{{author?.countryOfOrigin}}</td>
          </tr>
          <tr>
            <th>Author's songs average rate</th>
            <td>{{author?.authorAverageRate}}</td>
          </tr>
          </thead>
        </table>
      </section>
      <section>
        <button type="button" class="btn-primary" (click)="redirectToSongCreatePage(author.authorId)">Add song</button>
        <table class="table">
          <thead>
          <tr>
            <th>Song Name</th>
            <th>Music Genre</th>
            <th>Release Year</th>
            <th>YouTube Link</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let song of songs">
            <td><button type="button" class="btn-primary" (click)="redirectToSongPage(song.songId)">{{song.songName}}</button></td>
            <td>{{song.musicGenre}}</td>
            <td>{{song.releaseYear}}</td>
            <td>{{song.youTubeLink}}</td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-danger" (click)="redirectToAuthorList()">Redirect to author list</button>
      </section>
    </div>
  </div>
</div>
