<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Songs</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewSongPage()">Add Song</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>SongName</th>
            <th>MusicGenre</th>
            <th>ReleaseYear</th>
            <th>YouTubeLink</th>
            <th>AuthorId</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let song of songs">
            <th scope="row">{{song.songId}}</th>
            <td><button type="button" class="btn-primary" (click)="redirectSingeSongPage(song.songId)">{{song.songName}}</button></td>
            <td>{{song.musicGenre}}</td>
            <td>{{song.releaseYear}}</td>
            <td>{{song.youTubeLink}}</td>
            <td>{{song.authorId}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="editSongPage(song)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteSong(song.songId)">Delete</button>
              <button type="button" class="btn btn-sm" (click)="redirectToCreateComment(song.songId)">Add Comment</button>
              <button type="button" class="btn btn-sm" (click)="redirectToCreateRate(song.songId)">Add Rate</button>
            </td>
          </tr>

          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
