<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Songs</h1>
            </div>
            <div class="col-md-6">

            </div>
          </div>

        </header>
      </section>
      <div>
      <form novalidate [formGroup]="songSearchForm" (ngSubmit)="onSubmit()">
        <fieldset>
      <div class="form-group">
        <label>Search song</label>
        <input type="text"
               class="form-control"
               formControlName="searchWord">
      </div>
        </fieldset>
        <button type="submit" class="btn btn-primary"  [disabled]="!songSearchForm.valid" >Submit</button>
      </form>
      </div>
      <section class="main">
        <table class="table">
          <thead>
          <tr>
            <th *ngIf="sortedByAverageRate==false"><button class="button" (click)="getAllSongsSortedByAverageRate(searchedWord)">Song Average Rate</button></th>
            <th *ngIf="sortedByAverageRate==true"><button class="button" (click)="getAllSongsSortedByAverageRateReversed(searchedWord)">Song Average Rate</button></th>
            <th *ngIf="sortedBySongName==false"><button class="button" (click)="getAllSongsSortedBySongName(searchedWord)">Name</button></th>
            <th *ngIf="sortedBySongName==true"><button class="button" (click)="getAllSongsSortedBySongNameReversed(searchedWord)">Name</button></th>
            <th *ngIf="sortedByMusicGenre==false"><button class="button" (click)="getAllSongsSortedByMusicGenre(searchedWord)">Music Genre</button></th>
            <th *ngIf="sortedByMusicGenre==true"><button class="button" (click)="getAllSongsSortedByMusicGenreReversed(searchedWord)">Music Genre</button></th>
            <th *ngIf="sortedByReleaseYear==false"><button class="button" (click)="getAllSongsSortedByReleaseYear(searchedWord)">Release Year</button></th>
            <th *ngIf="sortedByReleaseYear==true"><button class="button" (click)="getAllSongsSortedByReleaseYearReversed(searchedWord)">Release Year</button></th>
            <th>YouTube Link</th>
            <th *ngIf="sortedByAuthorName==false"><button class="button" (click)="getAllSongsSortedByAuthorName(searchedWord)">Author</button></th>
            <th *ngIf="sortedByAuthorName==true"><button class="button" (click)="getAllSongsSortedByAuthorNameReversed(searchedWord)">Author</button></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let song of songs">
            <td>{{song.songAverageRate}}</td>
            <td><button type="button" class="btn-primary" (click)="redirectSingleSongPage(song.songId)">{{song.songName}}</button></td>
            <td>{{song.musicGenre}}</td>
            <td>{{song.releaseYear}}</td>
            <td>{{song.youTubeLink}}</td>
            <td><button type="button" class="btn-primary" (click)="redirectToAuthorPage(song.authorId)">{{getAuthorName(song.authorId)}}</button></td>
            <td>
              <button type="button" class="btn btn-success" (click)="editSongPage(song)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteSong(song.songId)">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
